<svg xmlns="http://www.w3.org/2000/svg">
 <!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ -->
 <g>
  <title>background</title>
  <!-- <rect fill="#fff" id="canvas_background" height="22" width="22" y="-1" x="-1"/> -->
  <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
   <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%"/>
  </g>
 </g>
 <g>
  <title>Layer 1</title>
  <line stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_2" y2="20" x2="20" y1="0" x1="0" stroke-width="1.5" stroke="#ff0000" fill="none"/>
  <line stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_4" y2="0" x2="20" y1="20" x1="0" stroke-width="1.5" stroke="#ff0000" fill="none"/>
 </g>
</svg>