:host {
  position: relative;
  align-self: flex-start;
  margin-top: 40px;
  margin-left: 4%;
}

canvas {
  border-style: solid;
  border-color: blueviolet;
  position: absolute;
  left:0;
  top:0;
}